body {
    background-color: rgb(51, 51, 51);
    color: white;
    font-family: 'trebuchet ms';
}

/*
CSS for Nav
*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav a:link {
    background-color: #0099ff;
    color: black;
    padding: 10px 14px;
    border-width: 10px;
    border-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

nav a:hover {
    background: lightblue;
    color: black;
}

nav, footer {
    background-color: blue;
    font-size: 18px;
}

/*
Headers
*/

h1, h2, h3, h4, h5, h6 {
    color: 0099ff;
}

h1 {
    font-size: 38px;
    margin-top: 40px;
}

h3 {
    font-size: 15px;
    color: lightblue;
}

button {
    background-color: #0099ff;
    color: black;
    padding: 10px 14px;
    border-width: 1px;
    border-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}