body {
    background-color: rgb(51, 51, 51);
    color: white;
    font-family: 'trebuchet ms';
}

img {
    width: 80%; 
}


/*
Position of the sidebar and productlist
*/
side {
    height: 100%;
    width: 170px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 42px; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */ 
}

#productlist{
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 42px; /* Stay at the top */
    left: 180px;
}

/*
CSS for Nav
*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav a:link {
    background-color: #0099ff;
    color: black;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

nav a:hover {
    background: lightblue;
    color: black;
}

nav, footer {
    background-color: blue;
    font-size: 18px;
}

/*
Headers
*/

h1, h2, h3, h4, h5, h6 {
    color: 0099ff;
}

h1 {
    font-size: 38px;
    margin-top: 40px;
}

h3 {
    font-size: 15px;
    color: lightblue;
}

button {
    background-color: #0099ff;
    color: black;
    padding: 10px 14px;
    border-width: 1px;
    border-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}