article {
    color: #350015;
}

b {
    color: peachpuff;
}

a:link {
    background-color: peachpuff;
    color: black;
    padding: 14px 25px;
    border-width: 5px;
    border-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

body {
    background-color: green;
    font-size: 500%;
}

ul{
    list-style-image: "https://vignette.wikia.nocookie.net/leagueoflegends/images/4/4e/Boots_of_Speed_item.png/revision/latest?cb=20171221060501";
    color: aquamarine;
    padding: 15px;
    background: black;
}